body {
  background-color:lightblue;
}
.center {
  text-align:center;
  justify-content: center;
}
#bariconsec:hover {
  transform: rotate(90deg);
}
#bariconsec {
  transition:transform 1s;
}
#showproj {
  position:absolute;
  width:100%;
  height:250px;
  background-color:whitesmoke;
}
#colCountX{
  padding-right:15%;
}
#colCountO{
  padding-left:15%;
}
.flexcol {
  display:flex;
  flex-direction:column;
  align-items:center;
}
#error {
  text-align:center;
  color:red;
}
.flexrow {
  display:flex;
  flex-direction:row;
  box-sizing: border-box;
  justify-content:center;
}
button {
  width:100px;
  height:100px;
}
img {
  width:100%;
  height:100%;
}